.example-card {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.bookDescription {
  padding-top: 40px;
}

.previewImage {
  max-width: 50%;
}

.bookHeader {
  text-align: center;
}

.cardHeader {
  display: block;
}